.bash_history
.bash_logout
.bashrc
.bundle/
.cache/
.cargo/
.config/
.gitconfig
.local.env
.local/
.npm/
.perl-cpm/
.profile
.rustup/
.ssh/
.viminfo
.wget-hsts
.x
/isucon12-final/
/local/
/go/
/bin/
/dump/
/env
